<?xml version='1.0' encoding='utf-8'?>
<TrackMonocular>
	<GrabImageMonocular>
		<Frame>
			<ExtractORB>
				<ComputePyramid />
				<ComputeKeyPointsOctTree>
					<FAST0 />
					<DistributeOctTree0 />
					<FAST1 />
					<DistributeOctTree1 />
					<FAST2 />
					<DistributeOctTree2 />
					<FAST3 />
					<DistributeOctTree3 />
					<FAST4 />
					<DistributeOctTree4 />
					<FAST5 />
					<DistributeOctTree5 />
					<FAST6 />
					<DistributeOctTree6 />
					<FAST7 />
					<DistributeOctTree7 />
					<computeOrientation />
				</ComputeKeyPointsOctTree>
				<computeDescriptors />
			</ExtractORB>
		</Frame>
		<Track>
			<Initialization />
			<ifNotOnlyTracking />
		</Track>
	</GrabImageMonocular>
</TrackMonocular>
